{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		{% if article is null %}
			<h2>Cet article n'est pas disponible</h2>
		{% else %}
			<h1 class="text-center mb-4">{{ article.titre }}</h1>
			<h3 class="text-center mb-4">{{ article.description }}</h3>
			<p>{{ article.contenu }}</p>
			{% if app.user %}
				{% if "ROLE_ADMIN" in app.user.roles %}
					<hr/>
					<a href="/article/edit/{{ article.id }}" class="btn btn-primary">Éditer</a>
					<a href="/article/delete/{{ article.id }}" class="btn btn-danger ms-3" onclick="return confirm('Voulez-vous supprimer cet article ?')">Supprimer</a>
				{% endif %}
			{% endif %}
		{% endif %}
	</div>
{% endblock %}
